.textbox {
    padding: 10px;
    font-size: 0.9rem;
    border: none;
    border-radius: 10px;
    background-color: rgb(220,220,220);
    outline: none;
}

.bottom-space {
    margin-bottom: 10px;
}

#username {
    width: 50%;
}

#password {
    width: 45%;
}

#address {
    width: 80%;
}

#occupation {
    width: 40%;
}

#name {
    width: 15rem;
}

#phone {
    width: 30%;
}

#email {
    width: 50%;
}